.header {
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 37px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.logo__img {
	width: 174px;
	height: 72px;
	margin-right: 79px;
}

.search {
	display: flex;
	align-items: center;
	margin-right: 61px;
}

.head-form {
	display: flex;
}

.head-vector {
	display: block;
	margin-right: 12px;
	width: 13px;
	height: 15px;
}

.select-list {
	border: 0px;
	appearance: none;
	margin-right: 50px;
	cursor: pointer;
}

.input {
	border: none;
	background-color: #FBF7F4;
	border-radius: 4px;
	min-width: 309px;
	min-height: 40px;
	padding: 15px;
}

.box {
	width: 164px;
	margin-right: 28px;
}

.box__tel,
.box__work {
	display: block;
}

.box__tel {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #545155;
}

.box__work {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	text-align: right;
}

.buttons {
	display: flex;
}

.icon {
	text-decoration: none;
	background-color: #FBF7F4;
	position: relative;
}

.icon-one {
	width: 51px;
	height: 40px;
	background-color: #FBF7F4;
	border-radius: 5px 0px 0px 5px;
}

.icon-one:hover {
	background-color: #fce1ef;
}

.border {
	color: black;
}

.icon-two {
	width: 49px;
	height: 40px;
	background-color: #FBF7F4;
}

.icon-two:hover {
	background-color: #fce1ef;
}

.icon__img-one {
	position: absolute;
	top: 30%;
	left: 35%;
}

.icon__img-two {
	position: absolute;
	top: 30%;
	left: 35%;
}

.icon--color {
	background-color: #BF1E77;
	width: 73px;
	height: 40px;
	border-radius: 0px 5px 5px 0px;
}

.icon--color:hover {
	background-color: #ff008c;
}

.icon__img-three {
	position: absolute;
	top: 30%;
	left: 20%;
}

.icon__number {
	position: absolute;
	top: 22%;
	right: 20%;
	color: antiquewhite;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.border {
	position: absolute;
	top: 30%;
	right: 0px;
	width: 1px;
	height: 20px;
	opacity: 0.2;
}

.menu-wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.navigation {
	display: flex;
	gap: 82px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 34px;
}

.list__item {
	color: #545155;
}

.list__item:hover {
	color: #BF1E77;
	padding-bottom: 4px;
	border-bottom: solid 1px #BF1E77;
}

.list__item--active {
	color: #BF1E77;
	padding-bottom: 4px;
	border-bottom: solid 1px #BF1E77;
}

.mobile-wrap {
	width: 100%;
	display: none;
}

.mobile-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	align-items: center;
	padding: 0px 10px;
}

.burger-menu {
	padding-top: 5px;
	width: 30px;
	height: 30px;
}

.burger-menu__item {
	border: solid 1px #BF1E77;
	margin-bottom: 8px;
}

.burger-menu__item:last-child {
	margin-bottom: 0px;
}

.mobile-search {
	position: relative;
	padding-left: 25px;
}

.mobile-form {
	max-width: 100%;
	height: 40px;
	display: flex;
	padding-right: 10px;
}

.mobile-head-vector {
	position: absolute;
	top: 5px;
	left: 7px;
	display: block;
	margin: 0;
	width: 13px;
	height: 15px;
}

.mobile-select-list {
	border: 0px;
	appearance: none;
	margin-right: 8px;
	margin-bottom: 13px;
}

.mobile-input {
	border: none;
	background-color: #FBF7F4;
	border-radius: 4px;
	min-width: 100px;
	min-height: 30px;
	padding: 15px;
	flex-basis: 100%;
	margin-bottom: 15px;
}

.slider-text-wrap {
	max-width: 1170px;
	margin: auto;
	position: relative;
}

.slider1 {
	position: relative;
	margin-bottom: 100px;
	max-width: 100%;
	height: 595px;
	object-fit: cover;
	background-image: url('../images/pink_flowers.jpg');
	background-size: cover;
}

.slider2 {
	position: relative;
	margin-bottom: 100px;
	max-width: 100%;
	height: 595px;
	object-fit: cover;
	background-image: url('../images/pink_balloons.jpg');
	background-size: cover;
}
.slider3 {
	position: relative;
	margin-bottom: 100px;
	max-width: 100%;
	height: 595px;
	object-fit: cover;
	background-image: url('../images/pink_background.jpg');
	background-size: cover;
}

.info-text {
	padding-top: 89px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 150%;
	color: #BF1E77;
}

.arrow-wrap {
	position: absolute;
	top: calc(50% + 100px);
	z-index: 9;
	display: flex;
	right: 150px;
}

.swiper-hero, .slider__arrow-next {
	position: static;
}

.swiper-hero .slider__arrow-next,
.swiper-hero .slider__arrow-back {
	width: 72px;
	height: 69px;
	
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12px);
	

	color: white;
	font-size: 32px;

	transition: all .2s ease-in-out;
}

.swiper-hero .slider__arrow-back {
	border-radius: 5px 0px 0px 5px;
}

.swiper-hero .slider__arrow-next {
	border-radius: 0px 5px 5px 0px;
}

.swiper-hero .slider__arrow-back:hover {
	width: 115px;
	color: #BF1E77;
	background: white;
}

.swiper-hero .slider__arrow-next:hover {
	width: 115px;
	color: #BF1E77;
	background: white;
}

.swiper-hero, .slider__arrow-back {
	position: static;
	
	border-radius: 0px 5px 5px 0px;
}

.swiper-slider {
	position: relative;
}

.slider__arrow-back::after {
	display: none;
}

.slider__arrow-next::after {
	display: none;
}

/* картинка стрелки */
.slider__arrow-back-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sale-info {
	max-width: 1172px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.sale-info-item-one {
	cursor: pointer;
	width: 370px;
	height: 240px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(180deg,
			rgba(191, 30, 119, 0) 0%,
			#BF1E77 100%),
		url('../images/info-image1.jpg');
}

.sale-info-item-one:hover {
	opacity: 0.9;
}

.sale-info-item__big-text {
	position: absolute;
	bottom: 26px;
	left: 40px;
	width: 134px;
	height: 96px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 150%;
	color: #FFFFFF;
}

.sale-info-item__small-text {
	width: 125px;
	height: 68px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
}

.sale-info-item__small-text-one {
	position: absolute;
	bottom: 42px;
	left: 194px;
}

.sale-info-item-two {
	cursor: pointer;
	width: 370px;
	height: 240px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(180deg,
			rgba(191, 30, 119, 0) 0%,
			#BF1E77 100%),
		url('../images/info-image2.jpg');
}

.sale-info-item-two:hover {
	opacity: 0.9;
}

.sale-info-item__small-text-two {
	position: absolute;
	bottom: 42px;
	left: 174px;
}

.sale-info-item-three {
	cursor: pointer;
	width: 370px;
	height: 240px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(180deg,
			rgba(191, 30, 119, 0) 0%,
			#BF1E77 100%),
		url('../images/info-image3.jpg');
}

.sale-info-item-three:hover {
	opacity: 0.9;
}

.sale-info-item__small-text-three {
	position: absolute;
	bottom: 42px;
	left: 153px;
}

.products {
	margin-bottom: 80px;
}

.products__background {
	border-radius: 20px 0px 0px 20px;
	flex-wrap: nowrap;
	width: 90%;
	height: 1000px;
	background-color: #FBF7F4;
	position: absolute;
	right: 0px;
}

.products__wrapper {
	flex-wrap: nowrap;
	width: 100%;
	position: relative;
	margin-bottom: 80px;
}

.products__title-box {
	position: relative;
	max-width: 773px;
	height: 164px;
	margin: auto;
}

.products__italic-text-one {
	position: absolute;
	top: 36px;
	right: 1%;
}

.products__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #545155;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 41px;
	padding-top: 83px;
	position: relative;
}

.products__box {
	max-width: 1172px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 0 auto;
}

.box__the-cloth {
	cursor: pointer;
	flex-basis: 370px;
	height: 300px;
	border-radius: 10px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #FFFFFF;
	position: relative;
}

.box__the-cloth:hover {
	opacity: 0.8;
	box-shadow: 0px 20px 50px rgba(198, 141, 142, 0.2);
}

.the-cloth-1,
.the-cloth-4 {
	flex-basis: 770px;
	height: 300px;
}

.box__text_link {
	position: absolute;
	bottom: 31px;
	left: 40px;
	color: #FFFFFF;
}

.the-cloth-1 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/1._Len_i_polulen.jpg'),
		#6F393A;
}

.the-cloth-2 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/2._khlopok.jpg'),
		#6F393A;
}

.the-cloth-3 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/3._viscose.jpg'),
		#6F393A;
}

.the-cloth-4 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/4._novogodniye_tkani.jpg'),
		#6F393A;
}

.the-cloth-5 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/5._Len_i_polulen.jpg'),
		#6F393A;
}

.the-cloth-6 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/6._khlopok.jpg'),
		#6F393A;
}

.the-cloth-7 {
	background: linear-gradient(0deg,
			rgba(111, 57, 58, 0.8) 9.6%,
			rgba(111, 57, 58, 0) 74.6%),
		url('../images/7._viscose.jpg'),
		#6F393A;
	position: relative;
}

.the-cloth-7-image {
	position: absolute;
	bottom: 43px;
	right: 170px;
}

.viewed__title-wrap {
	position: relative;
	max-width: 773px;
	height: 164px;
	margin: auto;
}

.viewed__title {
	margin-bottom: 41px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #545155;
	text-align: center;
	text-transform: uppercase;
}

.viewed__italic-text-two {
	position: absolute;
	top: -50px;
	right: 26%;
}

.viewed-box {
	max-width: 1420px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	position: relative;
}

.swiper-viewed-box {
	max-width: 1170px;
}

.swiper-button-prev {
	font-size: 60px;
	color: #BF1E77;
	left: 20px;
	top: 185px;
}

.swiper-button-next {
	font-size: 60px;
	color: #BF1E77;
	right: 20px;
	top: 185px;
}

.viewed-article {
	position: relative;
	width: 370px;
	height: 653px;
}

.viewed-article:hover {
	opacity: 0.9;
	cursor: pointer;
}

.heart-like-one,
.heart-like-two {
	position: absolute;
	top: 33px;
	right: 31px;
	cursor: pointer;
}

.viewed-article__image {
	margin-bottom: 24px;
}

.viewed-article__small-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #BF1E77;
	opacity: 0.9;
}

.viewed-article__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #BF1E77;
	margin-bottom: 20px;
}

.viewed-article__text {
	margin: 0;
	margin-bottom: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: #545155;
	display: block;
}

.viewed-article__text-info {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #545155;
	padding-left: 10px;
}

.viewed-article__text:nth-child(7) {
	margin-bottom: 24px;
}

.viewed-article__line {
	border-bottom: #BF1E77 solid 1px;
	width: 370px;
	opacity: 0.4;
	margin-bottom: 24px;
}

.viewed-article__price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #545155;
}

.viewed-article__second-price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #545155;
	opacity: 0.3;
	padding-left: 20px;
}

.viewed-article__buy {
	cursor: pointer;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #BF1E77;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.footer {
	position: relative;
}

.footer__background {
	position: absolute;
	background-color: #FBF7F4;
	height: 692px;
	width: 60%;
	z-index: -2;
}

.banner-wrap {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
}

.banner {
	position: absolute;
	top: -143px;
	padding-right: 60px;
	z-index: 1;
	display: flex;
	flex-basis: 1170px;
	min-height: 294px;
	border-radius: 10px;
	background-image: url('../images/pink-bg.jpg');
	object-fit: cover;
}

.banner__subscription {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 38px;
	line-height: 150%;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 70px;
	padding-left: 70px;
	margin: 0;
	margin-bottom: 19px;
}

.banner__sale-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	padding-left: 70px;
	margin: 0;
}

.form {
	display: flex;
	flex-basis: 710px;
	padding-top: 124px;
	padding-left: 48px;
	position: relative;
}

.banner__input-text {
	margin: auto;
	width: 389px;
	min-height: 50px;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #BF1E77;
	padding-left: 30px;
	border: none;
	margin-right: 20px;
}

.div-form {
	min-width: 710px;
}

.banner__input-submit {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;

	padding: 10px 30px 12px;
	width: 231px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background: #545155;
	padding-right: 100px;
	cursor: pointer;
}

.banner__input-submit:hover {
	background: rgb(49, 49, 49);
}

.banner__input-submit:active {
	background-color: gray;
}

.arrow-for-submit {
	position: absolute;
	right: 28px;
	top: 144px;

}

.banner__small-text {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	padding-left: 70px;
	margin: 17px 0px;
}

.banner__link-small-text {
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.about-us {
	display: flex;
	padding-left: 165px;
	position: relative;
	justify-content: center;
	margin-top: 235px;
}

.contacts {
	padding-right: 72px;
	margin-top: 235px;
}

.about-store {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #545155;
	margin-bottom: 20px;
}

.contacts__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
}

.contacts__time-works {
	margin-bottom: 62px;
}

.contacts__link {
	display: inline-block;
	margin-bottom: 62px;
}

.contacts__link-insta {
	margin-right: 20px;
}

.contacts__privacy-policy {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	opacity: 0.4;
	cursor: pointer;
}

.payment {
	border-left: solid #f5ddeb;
	padding-left: 72px;
	height: 358px;
	margin-top: 235px;
	margin-right: 80px;
}

.payment__item {
	margin-bottom: 16px;
}

.payment__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: #545155;
}

.payment__mastercard-icon {
	margin-bottom: 171px;
}

.payment__all-rights-reserved {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #545155;
	opacity: 0.4;
	cursor: pointer;
}

.payment__map-frame {
	min-width: 692px;
	min-height: 692px;
}
